h1 {
    background-color: rgb(203, 194, 255);
    text-align: center;
    color: rgb(103, 34, 168);
    border: 2px solid red;
    border-radius: 40px;
}
.Zoo {
    background-color: yellow;
    color: black;
}
.Hayvon {
    color: brown;
    font-weight: bolder;
}
.Biz {
    color: darkgreen;
}
.Bold {
    font-weight: bolder;
}
.Faktlar {
    background-color: yellow;
    color:darkgreen;
    text-align: center;
}
iframe {
    margin: auto;
    display: block;
    padding: 0px 250px;
    background-color: black;
    border-radius: 10px;
}
input {
    font-size: xx-large;
}
button {
    font-size: x-large;
    background-color:rgb(69, 146, 172);
    color: white;
    border: 0cap;
    padding: 5px 100px;
}
table, tr, td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    padding: 5px 100px;
    background-color: red;
    color: white;
}
th {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    padding: 5px 30px;
    background-color: yellow;
    color: black;
}
.Yash {
    background-color: darkgreen;
    color: white;
    padding: 5px 30px;
}
.Kok {
    background-color: blue;
    color: white;
    padding: 5px 30px;
}
.qora {
    background-color: black;
    padding: 5px 200px;
}